{% extends 'layouts/default.njk' %}

{% block body %}
  <div class="wrapper">
    <nav id="main">
      <div class="header">
        <strong>Minha biblioteca</strong>
        <a href="/singout">Sair</strong>
      </div>

      <div class="categories">
        <strong>Categorias</strong>

        <ul>
          {% for category in categories %}
            <li>
              <a href="/app/categories/{{ category.id }}">
                {{ category.title }}
                <span>{{ category.Snippets.length }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>

        <a href="">Nova Categoria</a>
      </div>
    </nav>
  </div>
{% endblock %}
